body {
    min-width: 1200px;
    margin: 0 auto;
}


.first-block {
    position: relative;
    font-family: 'Arimo', 'Montserrat', sans-serif;
    height: 750px;
    width: 100%;
    margin: 0 auto;
    
}

.first-block::before {
    content: "";
    position: absolute;
    background-image: url('/images/section-1(header)\.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

/* .parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */

.container-first-block {
    display: flex;
    justify-content: center;
    background-color: #5E5D5899;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
}
.hexagon {
    position: relative;
    width: 49px;
    height: 36px;
    background-color: #18CFAB;
}

.hexagon::before,
.hexagon::after {
    content: '';
    position: absolute;
    width: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
}

.hexagon::before {
    top: -12.5px;
    border-bottom: 13px solid #18CFAB;
}

.hexagon::after {
    bottom: -13px;
    border-top: 13px solid #18CFAB;
}

.letter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, sans-serif;
    font-size: 37px;
    font-weight: 800;
    color: #fff;
}
/* .img-H{
    position: relative;
    margin-left: 300px;
    margin-top: 13px;
} */

.the{
    display: flex;
    color: white;
    margin-top: 10px;
    font-weight: 300;
    font-size: 20px;
    padding-left: 5px;
    padding-bottom: 15px;
    font-family: 'Arimo', 'Montserrat', sans-serif;
}

.span-ham{
    color: #18CFAB; 
}

.nav-bar{
padding-left: 300px;
}

.support{
    display: flex;
    color: #fff;
    justify-content: flex-end;
    padding-left: 20px;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.menu{
    display: flex;
    padding-bottom: 7px ;
}

.img-search{
    width: 18px;
}

.support:hover{
    color: #18CFAB;
}

.support::before {
    content: '';
    position: absolute;
    top: 50px;
    border-bottom: 1px solid #18CFAB;
}

.support:hover::before {
    width: 100%;
    transform: translateX(15%);

}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    align-items: center;
   text-transform: uppercase;
   margin-top: 270px;
}

.wordress{
    font-size: 25px;
}

.wordress-span{
    color: #18CFAB;
}

.h1{
    font-size: 55px;
}

.subtitle{
    font-family: serif;
    text-transform: none;
    font-weight: 300;
    font-size: 25px;
}

.buttons{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}

.btn-explore{
    text-transform: uppercase;
    margin-right: 20px;
    width: 160px;
    height: 50px;
    border-radius: 4px;
    color: #fff;
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 10%, #18CFAB 0%, #18CFAB 100%);
    border: none;
    cursor: pointer;
 
}

.btn-explore:hover{
    color: #128b6c;
}

.btn-purchase{
    text-transform: uppercase;
    margin-left: 20px;
    width: 160px;
    height: 50px;
    border-radius: 4px;
    color: #fff;
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 10%, #00CBF6 0%, #00CBF6 100%);
    border: none;
    cursor: pointer;
}

.btn-purchase:hover{
    color: #335260;
}

/* .second-block{
    margin: 0 auto;
    min-width: 1160px;
    
} */
/* @media (min-width: 1200px){
    .second-block {
        margin: 0 auto;
        width: 1160px;
    }
} */

.options{
    display: flex;
    padding-top: 5px;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Arimo', 'Montserrat', sans-serif;
}

.item-1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    background: #1C2A33;
    color: #18CFAB;
    height: 300px;
    cursor: pointer;
    /* transition: background-color 0.3s; */
}

.item-2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    background: #18CFAB;
    color: #fff;
    height: 300px;
    cursor: pointer;
}

.img-option-1{
    display: flex;
    width: 60px;
    padding-left: 150px;
    padding-bottom: 50px;
}

.img-option-2{
    display: flex;
    width: 100px;
    padding-left: 130px;
    padding-bottom: 60px;
}

.item-1:hover {
    background-color: #335260; 
}

.item-2:hover {
    background-color: #128b6c; 
}

.services{
    margin: 0 auto;
}
@media (min-width: 1200px){
    .services {
        width: 1160px;
    }
}

.h2{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-top: 50px;
    position: relative;
    font-family: 'Ubuntu,''Arimo', 'Montserrat', sans-serif;
    /* margin: 0 auto; */
    width: 1160px;
}

.h2::before,
.h2::after {
    content: '';
    position: absolute;
    bottom: -17px;
    left: 48%;
    width: 60px; 
    height: 1px;
    background-color: #18CFAB;
}

.h2::after {
    margin-left: 20px;
    bottom: -22px; 
    height: 1px; 
}

.tabs{
    display: flex;
    margin-top: 70px;
    font-size: 18px;
    font-weight: 500;
    justify-content: center;
    width: 1160px;
}

.tabs-title{
    display: flex;
    padding-left: 50px;
    cursor: pointer;
    border: 1px solid #EDEFEF ;
    color: #717171;
    padding-top: 15px; 
    padding-bottom: 15px;
    padding-right: 35px;
}

.tabs-title:hover{
    border: 1px solid #18CFAB;
}

.tabs-title.active {
    border: 1px solid #18CFAB;
    background-color: #18CFAB; 
    color: #fff; 
}

#text1{
    display: block;
    
}

#par li{
    display: none;

}

.text-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    font-weight: 300;
    font-size: 16px;
    width: 1160px;
}

.img-service{
    width: 200px;
}

.span-service{
   display: flex;
   color: #777777;
   align-items: center;
   margin-left: 210px;
   margin-top: -130px;
}

.install {
    content: "";
    margin: 0 auto;
    width: 1160px;
    position: relative;
    margin-top: 70px;
    background-image: url('/images/section-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%; 
    /* box-sizing: border-box;  */
    background-position: center 50%;
}

.install-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    padding: 90px;
    font-family: 'Arimo', 'Montserrat', sans-serif;
    
}

.just-buy{
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #18CFAB;
}

.sub{
    font-weight: 400;
    font-size: 16px;
   color: #D8D8D8;
}

.btn-purchase-2{
    text-transform: uppercase;
    margin-right: 20px;
    width: 160px;
    height: 60px;
    border-radius: 4px;
    color: #fff;
    margin-top: 60px;
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 10%, #18CFAB 0%, #18CFAB 100%);
    border: none;
    cursor: pointer;
}

.btn-purchase-2:hover{
    color: #128b6c;
}

.third-block{
    text-align: center;
    font-family: 'Arimo', 'Montserrat', sans-serif;
    margin: 0 auto;
    width: 1160px;
}


.h3{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-top: 50px;
    position: relative;
    font-family: 'Ubuntu', 'Arimo', 'Montserrat', sans-serif;
}

.h3::before,
.h3::after {
    content: '';
    position: absolute;
    bottom: -17px;
    left: 47%;
    width: 60px; 
    height: 1px;
    background-color: #18CFAB;
}

.h3::after {
    margin-left: 20px;
    bottom: -22px; 
    height: 1px; 
}

.photolist{
display: flex;
margin: 0 auto;
width: 1160px;
justify-content: center;
margin-top: 70px;
}

.more-tabs-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 50px;
    cursor: pointer;
    border: 1px solid #EDEFEF ;
    color: #717171;
}

.more-tabs-title:hover{
    border: 1px solid #18CFAB;
}

.more-tabs-title.active {
    border: 1px solid #18CFAB;
    background-color: #18CFAB; 
    color: #fff; 
}


.photo {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
    list-style: none;
    margin-top: 50px;
}

.pic1 img{
    width: 100%;
    display: block; 
}

.pic img {
    width: 100%;
    display: block; 
}

.create {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #18CFAB;
    flex-direction: column;
    color: #b8b7b7;
    font-size: 12px;
    position: relative;
  }
  
  .span-create {
    color: #18CFAB;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    padding-top: 50px;
  }
  
  .circle-wrapper {
    transform: translateY(-180%);
    display: flex;
  }
  
  .outer-circle,
  .inner-circle {
    width: 40px;
    height: 40px;
    border-radius: 80%;
  }
  
  .outer-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #18CFAB;
    margin-right: 5px;
    cursor: pointer;
    position: relative;
  }
  
  .inner-circle {
    background-color: #18CFAB;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
  }
  
  .inner-square {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border: 2px solid #18CFAB;
    transition: 0.2s;
    position: relative;
  }
  
  .create:hover .outer-circle {
    background-color: #18CFAB;
  }
  
  .create:active .inner-square {
    background-color: #18CFAB;
  }

  .circle-img{
    width: 20px;
  }

  .btn-load{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .load-more {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    width: 140px;
    height: 45px;
    border-radius: 4px;
    color: #fff;
    margin-top: 30px;
    background-color: #18CFAB;
    border: none;
    cursor: pointer;
    font-weight: bold;
    position: relative;
  }
  
  .load-more::before {
    content: '\002B'; 
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    margin-right: 5px;
  }
  

  .load-more:hover {
    background-color: #128b6c;
  }

  .fourth-block{
    margin: 0 auto;
    width: 1160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .h4{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-top: 50px;
    position: relative;
    font-family:'Ubuntu', 'Arimo', 'Montserrat', sans-serif;
}

.h4::before,
.h4::after {
    content: '';
    position: absolute;
    bottom: -17px;
    left: 47%;
    width: 60px; 
    height: 1px;
    background-color: #18CFAB;
}

.h4::after {
    margin-left: 20px;
    bottom: -22px; 
    height: 1px; 
}

/* @media (min-width: 1200px){
    .fourth-block {
        width: 1160px;
    }
} */

.breaking{
 margin-top: 100px;
}

.news {
    display: grid;
    justify-content: center;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: repeat(2, 200px);
    gap: 80px 15px;
}

.news-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.blog {
    width: 263px;
    height: 208px;
}

.square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #203E38;
    color: white;
    width: 34px;
    padding: 10px;
    font-family: 'Ubuntu', 'Arimo', 'Montserrat', sans-serif;
    position: absolute;
    bottom: 161.5px;
    right: 13.5px;
    font-size: 15px;
    /* transition: background-color 0.3s;  */
}

.news-span {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    color: #777777;
    font-family: 'Arimo', 'Montserrat', sans-serif;
}

.link {
    list-style: none;
    text-decoration: none;
}

.span-post {
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-family: 'Arimo', 'Montserrat', sans-serif;
    transition: color 0.3s;
}

.news-picture:hover .span-post,
.news-picture:hover .square {
    color: #18CFAB;
    /* background-color: #18CFAB; */
}

.feb {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
}


/* .span-post:hover
.news-picture:hover{
    color:  #18CFAB;
} */
/* .link:hover{
    color:  #18CFAB;
} */


.fifth-block{
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.parallax-layer {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.h5{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-top: 40px;
    color: #fff;
    position: relative;
    font-family: 'Ubuntu', 'Arimo', 'Montserrat', sans-serif;
}

.h5::before,
.h5::after {
    content: '';
    position: absolute;
    bottom: -17px;
    left: 47%;
    width: 60px; 
    height: 1px;
    background-color: #18CFAB;
}

.h5::after {
    margin-left: 20px;
    bottom: -22px; 
    height: 1px; 
}

.back{
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/images/section-3\.jpg');
    text-align: center;
    content: "";
    position: relative;
    margin-top: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center 20%;
}

.content{
    margin: 0 auto;
    width: 1160px;
}

.quote-container{
    display: flex;
    justify-content: center;
    margin-top: 60px ;
}

.quote{
font-size: 150px;
font-weight: bold;
color: #18CFAB;
}

.people{
    color: #BBBBBB;
    font-size: 18px;
    margin-right: 210px;
    margin-left: 210px;
    margin-top: 60px;
    
}

.each{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #18CFAB;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 40px;
}

.span-each{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    text-transform: none;
    font-weight: 300;
   color:  #BBBBBB;
   margin-top: 10px;
}

.content-text{
    color: #BBBBBB;
    font-size: 16px;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
}

.img-person{
    text-align: center;
    width: 150px;
    margin-top: 50px;
}

.img-menu{
    display: flex;
    margin-top: 45px;
    justify-content: center;
    position: relative;
    
}

.choose-img{
    cursor: pointer;
    padding: 0px;
    margin: 15px;
    position: relative;
    transition: transform 0.3s ease-in-out;
} 

.arrow-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow-left, .arrow-right {
    cursor: pointer;
    border: 2px solid #BBBBBB;
    display: inline-block;
    padding: 3px;
}

.arrow-right {
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0 2px 2px 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-right: 3px;
}

.arrow-left {
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0 2px 2px 0;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-left: 3px;
}

.arrow-left:hover{
    border-color: #ffffff;
}

.arrow-right:hover{
    border-color: #ffffff;
}

.square-arrow-l {
    margin-top: 42px;
    padding: 9px;
    margin-left: 360px;
    border: 1px solid #BBBBBB;
}

.square-arrow-l:hover{
background-color: #18CFAB;
cursor: pointer;
}

.square-arrow-r {
    margin-top: 42px;
    padding: 9px;
    margin-right: 360px;
    border: 1px solid #BBBBBB;
}

.square-arrow-r:hover{
    background-color: #18CFAB;
    cursor: pointer;
    }

.person .each:not(#pers1) {
    display: none;
}

.about-person li:not(#ab1) {
    display: none;
}

.arrow-left,
.arrow-right,
.choose-img {
    user-select: none; 
}


.choose-img::before {
    content: '';
    position: absolute;
    /* top: 16px;
    left: 17px;
    right: 17px;
    bottom: 21px;
    border: 5px solid #1FDAB5; 
    border-radius: 180px; */
    pointer-events: none;
    opacity: 0;
}

.choose-img:hover::before {
    opacity: 0.5;
}

.choose-img:hover {
    transform: translateY(-10px);
}


.img-person {
    content: '';
    position: relative;
    border: 10px solid rgba(31, 218, 181, 0.5); 
    border-radius: 180px;
    padding: 0;
}

.pic {
    display: block;
    transition: opacity 0.3s ease-in-out;
}

.pic.hidden {
    opacity: 0;
    
}

.picture-pers{
    padding: 0px;
}

.pic.visible {
    opacity: 1;
    
}

.photo li.hidden {
    display: none;
}

/* .container-first-block
.second-block,
.third-block,
.fourth-block,
.fifth-block {
    max-width: 1160px;
    margin: 0 auto;
} */


/* .rght {
    
    border: 2px solid black;
    border-width: 0 3px 3px 0;
    padding: 6px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
} */

.last-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 1160px;
}

.h6{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-top: 130px;
    position: relative;
    font-family: 'Ubuntu', 'Arimo', 'Montserrat', sans-serif;
}

.h6::before,
.h6::after {
    content: '';
    position: absolute;
    bottom: -17px;
    left: 47%;
    width: 60px; 
    height: 1px;
    background-color: #18CFAB;
}

.h6::after {
    margin-left: 20px;
    bottom: -22px; 
    height: 1px; 
}

.photo-block {
    display: grid;
    justify-content: center;
    margin-top: 50px;
}

.list-picture {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    list-style: none;
    padding: 0;
}

.item-photo {
    position: relative;
    width: 378px;
    height: 263px;

}

.item-photo-3{
    display: flex;
    width: 180px;
    height: 168px;
    grid-column: 3;
    grid-row: 1;
}

.item-photo-5 {
     margin-top: 115px;
    position: relative;
    width: 378px;
    height: 247px
}

.item-photo-7 {
    margin-top: -100px;
    width: 378px;
    height: 290px
}

.item-photo-6{
    display: flex;
    margin-left: 185px;
    width: 180px;
    height: 168px;
    grid-column: 3;
    grid-row: 1;
    /* margin-top: -273px; */
}

.small-pic{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    row-gap: 1px;
    grid-column: 3;
    grid-row: 3;
    margin-top: -40px;
}

.small{
    width: 124px;
    height: 92px;
    margin-top: -180px;
    
}

.item-photo18 {
    position: relative;
    width: 378px;
    height: 263px;
    grid-column: 3;
    grid-row: 2;
    margin-top: -95px;
}
    
  
.load{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .load-more-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    width: 140px;
    height: 45px;
    border-radius: 4px;
    color: #fff;
    margin-top: 30px;
    background-color: #18CFAB;
    border: none;
    cursor: pointer;
    font-weight: bold;
    position: relative;
  }

  .load-more-btn::before {
    content: '\002B'; 
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    margin-right: 5px;
  }
  

  .load-more-btn:hover {
    background-color: #128b6c;
  }

  .photo img{
    width: 100%;
    display: block; 
}

.pictu img {
    width: 50%;
    display: block; 
}


.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-family: 'Montserrat','Arimo', sans-serif;
    padding: 35px;
    color: #AEAEAE;
    background-color: #22353F;
    font-size: 14px;
}


.foot-span{
    color: #18CFAB;
    padding-right: 5px;
    padding-left: 3px;
}
